---
title: Articles
---
{% extends parent %}
{% block 'main' %}
  <div id="main">
    <div class="inner cf">
      <section id="content">
        <br>
        <h1>Articles & Research</h1>
        <p></p>
      {% for article in contents.articles %}
        <div class="innercontent">
          {% if forloop.index == 1 %}
            <div>
              {% capture articles_photo %}{% editable_file "articles_photo" %}/images/el.jpeg{% endeditable_file %}{% endcapture %}
              <figure><img src="{{ articles_photo | resize: '300x' }}"></figure>
            </div>
          {% endif %}
          <h3 class="topline subdued"><a href="articles/{{ article._slug }}">{{ article.title }}</a></h3>
          <p style="color:#777; font-size:90%; margin-top:-7px;">{{ article.author }} | {{ article.date | localized_date: '%-m/%-d/%y' }}</p>
          <p>{{ article.body | truncate: 200, '...' }}</p>
          <a href="/articles/{{ article._slug }}" style="color:#31529c;">Read More</a>
        </div>
        <br>
      {% endfor %}
      </section>
    </div>
  </div>
{% endblock %}
