---
title: Welcome
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.name }}</title>
    {{ 'styles.css' | stylesheet_tag }}
  </head>
  <body>
    <div id="logo"><img src="{{ 'logo.png' | theme_image_url }}" alt="Acme" /></div>
    <nav id="main-nav">
      <a href="/">Home</a>
      <a href="/articles">Articles</a>
    </nav>
    <div id="content">
      <h1>{{ page.title }}</h1>
      {% block 'main' %}
      <p>
        {% editable_text "welcome_message" %}
        Welcome to Acme, the world's favorite cartoon company. 
        {% endeditable_text %}
      </p>
      {% endblock %}
    </div>
  </body>
</html>